    {% include 'students/header.html' %}
    <section>
        <h1 class="text-center my-4">students Management</h1>
        <div class="container">
            <div class="card">
                <div class="card-boady">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Roll No.</th>
                                <th>Student Name.</th>
                                <th>Email.</th>
                                <th>Phone.</th>
                                <th>Address</th>
                            </tr>                    
                        </thead>
                        <tbody>
                           
                             {% for s in student %}
                                <tr>
                                    <td >
                                        {{forloop.counter }}
                                    </td>
                                    <td>{{s.roll_number}}</td>
                                    <td>{{s.student_name}}</td>
                                    <td>{{s.student_name}}</td>
                                    <td>{{s.student_phone}}</td>
                                    <td>{{s.student_Address}}</td>
                                    <td></td>
                                </tr>
                             {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
   
   

       {% include 'students/fotter.html' %}